<%# app/views/quotes/edit.html.erb %>

<main class="container">
<%= link_to sanitize("&larr; Retour aux devis"), quote_path(@quote) %>


    <div class="header">
        <h1>Modifier Devis</h1>
    </div>

    <%= turbo_frame_tag @quote do %>
        <%= render "form", quote: @quote %>
    <% end %>
</main>
