<%# app/views/quotes/new.html.erb %>

<main class="container">
    
<%= link_to sanitize("&larr; Retour aux devis"), quotes_path %>


    <div class="header">
        <h1>Nouveau Devis</h1>
    </div>
    <%= turbo_frame_tag @quote do %>
    <%= render "form", quote: @quote %>
    <% end %>
    
</main>
