<p style="color: green"><%= notice %></p>

<h1>Line item dates</h1>

<div id="line_item_dates">
  <% @line_item_dates.each do |line_item_date| %>
    <%= render line_item_date %>
    <p>
      <%= link_to "Show this line item date", line_item_date %>
    </p>
  <% end %>
</div>

<%= link_to "New line item date", new_line_item_date_path %>
